In [6]:
import pandas as pd
import os


file_path = os.path.join('data', 't-bills-dataset.csv')

# Load the dataset
df = pd.read_csv(file_path)

# Convert 'Issue Date' to a datetime format
df['Issue Date'] = pd.to_datetime(df['Issue Date'], dayfirst=True)


df.head()

,Issue Date,Issue Month,Tender Name,Security Type,Discount Rate(%),Interest Rate(%),Rate difference(%)
0,2021-01-04,January,1727,2 YR FXR NOTE,18.50,18.50,0.00
1,2021-01-04,January,1727,364 DAY BILL,14.50,16.96,2.46
2,2021-01-04,January,1727,91 DAY BILL,13.62,14.10,0.48
3,2021-01-04,January,1727,182 DAY BILL,13.21,14.15,0.94
4,2021-01-11,January,1728,91 DAY BILL,13.61,14.09,0.48

In [8]:
# Treasury Bill (Short term) vs. Bond/Note (Long term)
df['Security Category'] = df['Security Type'].apply(lambda x: 'Bill' if 'BILL' in x.upper() else 'Bond/Note')

# Extract Time Features
df['Year'] = df['Issue Date'].dt.year
df['Quarter'] = df['Issue Date'].dt.quarter
df['Day Name'] = df['Issue Date'].dt.day_name()

# Create a 'Month-Year' column g
df['Month_Year'] = df['Issue Date'].dt.to_period('M').astype(str)

# Show the new columns
df[['Issue Date', 'Security Type', 'Security Category', 'Day Name']].head()

  Issue Date  Security Type Security Category Day Name
0 2021-01-04  2 YR FXR NOTE         Bond/Note   Monday
1 2021-01-04   364 DAY BILL              Bill   Monday
2 2021-01-04    91 DAY BILL              Bill   Monday
3 2021-01-04   182 DAY BILL              Bill   Monday
4 2021-01-11    91 DAY BILL              Bill   Monday

In [9]:
# Check for issues not on a Monday
non_mondays = df[df['Day Name'] != 'Monday']

print(f"Total entries: {len(df)}")
print(f"Entries not on a Monday: {len(non_mondays)}")

# Display a few non-mondays to see if they are holidays
non_mondays.head()

Total entries: 711
Entries not on a Monday: 0

Empty DataFrame
Columns: [Issue Date, Issue Month, Tender Name, Security Type, Discount Rate(%), Interest Rate(%), Rate difference(%), Security Category, Year, Quarter, Day Name, Month_Year]
Index: []

In [10]:
# Save to the data folder
master_file_path = os.path.join('data', 'Ghana_TBills_Master.csv')
df.to_csv(master_file_path, index=False)

print(f"Master file saved as: {master_file_path}")

Master file saved as: data\Ghana_TBills_Master.csv